.container-fluid {
  margin: 0;
  padding: 32px 0 0;

  .bookmarks-container {
    display: flex;
    justify-content: center;

    > div {
      width: 60%;
    }
  }
}

.favorite {
  color: gold;

  text-align: center;
}

.favorite-item {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
}
